@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --section-title: #353430;
  --subtitle-color: #353430;
  --main-font: "IBM Plex mono";
  --button-color: #353430;
  --button-outline-color: #35343040;
  }
  
  .page.theme_auto .decorated-zone-hidden {
    display: none;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --section-title: #353430;
  --subtitle-color: #353430;
  --main-font: "IBM Plex mono";
  --button-color: #353430;
  --button-outline-color: #35343040;
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorated-zone-hidden {
  display: none;
}