.page {
  margin: 0;
  background-color: var(--background-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  object-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  font-family: var(--main-font), monoscape;
  color: var(--text-color, #f1b2ce);
  min-inline-size: 375px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  position: relative;
}

.decorated-zone-hidden {
  position: absolute;
  min-inline-size: 95vw;
  block-size: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.decorated-zone-hidden::before {
  content: "rec";
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  padding-inline-end: 28px;
}

.decorated-zone-hidden::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #ff0070));
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  margin-inline-end: 8px;
}

.decorated-zone::before {
  content: "";
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  justify-self: flex-end;
  align-self: flex-start;
}

.decorated-zone::after {
  content: "";
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  justify-self: flex-start;
  align-self: flex-end;
}

.header__theme-menu-list {
  color: var(--accent-color, #ff0070);
  display: grid;
  gap: 10px;

}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 4px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover, #ff0070 / 0.4);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  color: var(--accent-color, #ff0070);
  text-underline-offset: 5px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__text {
  color: var(--subtitle-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: inherit;
  gap: 20px;
}

.section__title {
  color: var(--section-title, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__content {
  display: inherit;
}

.section__content-title {
  color: var(--subtitle-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__content-subtitle {
  color: var(--subtitle-color, #000028);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__content-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  padding-block-start: 10px;
}

.section__content-text:not(:last-of-type) {
  padding-block-end: 20px;
}

.section__content-subtitle:first-of-type {
  margin-block-start: 20px;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  cursor: pointer;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color, #f1b2ce);
}

.section__gallery-contain {
  display: inherit;
  gap: 10px;
}

.gallery {
  display: inherit;
  gap: 10px;
  grid-template-columns: minmax(355px, 1fr);
}

.gallery-image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  min-block-size: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
    gap: 60px;
  }

  .decorated-zone-hidden {
    min-inline-size: 728px;
  }

  .header {
    justify-items: end;
    margin-block-end: 20px;
  }

  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__text {
    inline-size: 50%;
  }

  .main {
    gap: 80px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .section__middle {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .section__middle-title {
    max-inline-size: 20%;
  }

  .section__gallery-contain {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr, 1.2fr, 1.65fr);
  }

  .gallery-image:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-image:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-image:last-of-type {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 20px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone-hidden {
    min-inline-size: 984px;
  }


  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    inline-size: 50%;
  }

  .section {
    grid-template-columns: 1fr 2.1fr;
  }

  .section__middle {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .section__middle-title {
    max-inline-size: 30%;
    grid-column: 1 / 4;
  }

  .section__gallery-contain {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 12px;
  }
}