:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --section-title: #ff0070;
  --subtitle-color: #000028;
  --main-font: "IBM Plex mono";
  --button-hover: #ff0070 / 0.4;
}
